div#searchCountryautocomplete-list {
    position: absolute;
    border: 1px solid black;
    background-color: white;
    width: auto;
}

.autocomplete-items .active {
    background-color: #cbd0cb;
}

input#searchCountry:focus {
    outline: none;
}

input {
    border: none; 
    width: 100%;
    height: 32px;
}

div#arrayInputs {
    border: 0.2px solid #635d5d;
    z-index: 10;
    padding: 1px;
    display: flex;
    flex-direction: row;
}

span.selected {
    width: auto;
    background: #9E9E9E;
    display: flex;
    padding: 4px;
    margin: 4px;
    border-radius: 5px;
}

.feed {
    width: 100%;
}